
// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#app {
  flex: 1;
}

.img-responsive {
  margin-top: 86px;
}