
// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#footer p {
  font-size: 0.85rem;
  color: $gray-600;
  text-align: center;
  a {
    color: $dark;
  }
}